{
    "Global": {
        "TenantID": "myorg.onmicrosoft.com"
    },
    "Folders": {
        "Exclusions": [
            "Output",
            "Icons",
            "In Progress",
            "scripts",
            "logs",
            "Private Packages"
        ]
    },
    "Rebuild": {
        "Enabled":1,
        "Include": [
            "PowerToys", //"[a-zA-Z]+ *(.+)" can be used for wildcard
            "Teams"
        ],
        "Exclude": [
            "PowerToys"
        ]
    }
}